html {
    background-color: white;
    font-size: 100%;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
}

.inconsolata { /*fajna*/

    font-family: 'Inconsolata', monospace;
}

.table-borderless td,
.table-borderless th {
    border: 0 !important;
}


