html {
    background-color: white;
    font-size: 100%;
}

.orbitron {
    font-family: 'Orbitron', sans-serif;
}

.bungee {
    font-family: 'Bungee', cursive;
}

.russo {
    font-family: 'Russo One', sans-serif;
}
