{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Standalone Schedule Scraper</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static "favicon.ico" %}"/>

    <link href="https://fonts.googleapis.com/css?family=Orbitron:700|Inconsolata|"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static "style.css" %}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container-fluid" style="padding-top: 5px;">

    {% block content %}
    {% endblock %}

</div>

<footer class="container-fluid" style="padding-top: 10px;">
    <table class="table roboto2">
        <tr class="success">
            <th class="orbitron">Kontakt info:</th>
            <th></th>
        </tr>
        <tr>
            <td>Bug-report:</td>
            <td><a href="mailto:planUS@openmailbox.org">planUS@openmailbox.org</a></td>
        </tr>
        <tr>
            <td>Strona uczelni:</td>
            <td><a href="http://plan.ii.us.edu.pl/">oryginalny plan</a></td>
        </tr>
    </table>
</footer>


</body>
</html>