{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Standalone Schedule Scraper</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static "favicon.ico" %}"/>

    <link href="https://fonts.googleapis.com/css?family=Orbitron:700|Inconsolata|"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "style.css" %}" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container-fluid" style="padding-top: 5px;">
    <div class="row">
        <div class="col-xs-7">
            <h2 class="orbitron text-center"><strong>SKRAPER</strong></h2>
        </div>
        <div class="col-xs-2">
            <h6 class="inconsolata text-center">beta</h6>
        </div>
        <div class="col-xs-3">
            <img src="{% static "python-logo-200.png" %}" class="img-responsive text-center">
        </div>
    </div>
    <hr style="padding: 3px; margin: 0;">
</div>

<div class="container-fluid" style="padding-top: 5px;">

    {% block content %}
    {% endblock %}

</div>

<footer class="container-fluid" style="padding-top: 10px;">
    <table class="table inconsolata">
        <tr class="success">
            <th class="orbitron">Kontakt info:</th>
            <th></th>
        </tr>
        <tr>
            <td>Bug-report:</td>
            <td><a href="mailto:planUS@openmailbox.org">planUS@openmailbox.org</a></td>
        </tr>
        <tr>
            <td>Strona uczelni:</td>
            <td><a href="http://plan.ii.us.edu.pl/">oryginalny plan</a></td>
        </tr>
    </table>
</footer>

{% if not cookie_info %}
    <div class="container-fluid bg-warning" id="cookie_info">
        <div class="row">
            <div class="col-xs-9 inconsolata">
                <h4>Informacje o plikach cookie</h4>
                <p class="text-primary">Ta strona używa plików Cookies. Dowiedz się więcej o celu ich używania i
                    możliwości zmiany ustawień
                    Cookies w przeglądarce.<a href="options.html"> Czytaj więcej...</a></p>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-info" id="hide_cookie" value="close_cookie_info"
                        onclick="hide_cookie();">Zamknij
                </button>
            </div>
        </div>
    </div>
{% endif %}

<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
<script src='{% static 'main.js' %}'></script>
</body>
</html>